@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500&family=Yantramanav:wght@100;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  height: 125px;
  background-color: rgb(240, 240, 240);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
}
nav .logo {
  height: 100%;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav .logo a {
  height: 80%;
}
nav .logo a img {
  height: 100%;
}
nav .links {
  margin-right: 20px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .links a {
  text-decoration: none;
  color: rgb(85, 85, 155);
  padding: 5px 10px 5px 10px;
}
nav .links a:hover {
  background-color: rgb(180, 180, 180);
}

.top {
  min-height: 50%;
  background-color: rgb(240, 240, 240);
}
.top h1 {
  padding-top: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Merriweather Sans", sans-serif;
  color: rgb(120, 120, 135);
  font-weight: 300;
  font-size: 50px;
}
.top .imgPlusSubtitle {
  height: 500px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(245, 245, 245);
}
.top .imgPlusSubtitle .imgSubtitle {
  width: 500px;
}
.top .imgPlusSubtitle .imgSubtitle p {
  font-family: "Merriweather Sans", sans-serif;
  color: rgb(125, 117, 88);
  font-weight: 300;
  font-size: 40px;
}
.top .imgPlusSubtitle .imgContent {
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}
.top .imgPlusSubtitle .imgContent img {
  height: 80%;
}
.top .mainText {
  height: 500px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 245, 245);
}
.top .mainText p {
  margin-left: 50px;
  margin-right: 50px;
  max-width: 800px;
  font-family: "Merriweather Sans", sans-serif;
  color: rgb(125, 117, 88);
  font-weight: 300;
  font-size: 40px;
}

.bottom {
  min-height: 50%;
  background-color: beige;
}
.bottom hr {
  border: 0;
  height: 1.5px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(50, 50, 50, 0.45), rgba(0, 0, 0, 0));
}
.bottom .areaSplit hr {
  margin: 0 auto;
  margin-top: 59px;
  width: 800px;
  background-color: rgb(200, 200, 200);
  background-image: none;
}
.bottom .textSection {
  width: 85%;
  margin: 0 auto;
  background-color: rgb(245, 245, 245);
  padding-bottom: 75px;
}
.bottom .textSection .textRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 75px;
}
.bottom .textSection .textRow .textItem {
  width: 400px;
}
.bottom .textSection .textRow .textItem h2 {
  font-family: "Merriweather Sans", sans-serif;
  color: rgb(120, 120, 135);
  font-weight: 400;
  font-size: 30px;
}
.bottom .textSection .textRow .textItem p {
  font-size: 20px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 300;
}
.bottom .textSection .textRow .textArea {
  width: 800px;
  margin-left: 50px;
  margin-right: 50px;
}
.bottom .textSection .textRow .textArea h2 {
  font-family: "Merriweather Sans", sans-serif;
  color: rgb(120, 120, 135);
  font-weight: 400;
  font-size: 30px;
}
.bottom .textSection .textRow .textArea .textAbout h2 {
  color: rgb(60, 60, 130);
}
.bottom .textSection .textRow .textArea p {
  font-size: 20px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 300;
}
.bottom .textSection .textRow .textArea .helpBox {
  border: thin solid rgb(165, 165, 165);
  background-color: rgb(228, 228, 228);
  padding: 20px;
}
.bottom .textSection .textRow .textArea .helpBox h3 {
  font-family: "Merriweather Sans", sans-serif;
  color: rgb(120, 120, 135);
  font-weight: 400;
}
.bottom .textSection .textRow .textArea .helpBox p {
  font-size: 16px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 300;
  margin-bottom: 0px;
}

footer {
  height: 50px;
  background-color: rgb(25, 25, 25);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(245, 245, 245);
  font-size: 15px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
}

/*# sourceMappingURL=styles.css.map */
