footer {
  height: 50px;
  background-color: rgb(25, 25, 25);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(245, 245, 245);
  font-size: 15px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
}
